

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    font-size: 1.8em;
    
}

.nav{
    background-color:red;
     color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    

}

body {
    font-family: Arial;
    background-color:  #6b95b141;
    line-height: 1.6;
    color:black;
    background-image:url(./img/fundo.png);
}

.nav img{
    width: 50px;
}
.menu ul {
    list-style: none;
    display: flex;
 
}
.pokeball-icon {
    font-size: 1.5em; 
    margin-right: 10px;
}


.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 50px;
}

.Equipe img{
    width:103%;
}


.logo {
    display: flex;
    align-items: center;
}

.final {
    width: 20px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid red;
    margin-right: 10px;
    position: relative;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 0 20px;
    font-size: 1.9em;
}

.boas-vindas {
    background-color: #78bbda6c;
    border-radius: 10px;
    padding: 80px;
    margin-bottom: 25px;
    font-size: 1.5em;
    border: 5px solid#d4bb2d;
}

.boas-vindas p {
    margin-bottom: 500px;

}

.titulo{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 100px;
    font-weight: 500;
}


.Equipes {
    display: flex;
    justify-content: center; 
    gap: 90px;
    flex-wrap: wrap; 
    position: relative; 
}

.Equipe:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Equipe {
    background-color: #f7f7f7;
    border: 2px solid  #faf60f; ;
    border-radius: 18px;
    padding: 15px;
    width: 300px; 
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 480px; 
    transition: 0.5s all

   
}

.foto {
    
    background-color:#e0e0e0; ;
    height: 70%; 
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #d0d0d0; 
}

.bio p {
    font-size: 0.9em;
    margin: 3px 0;
}

.footer {
    background-color: red;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.9em;
}

.footer a {
    padding: 0 5px;
}


.homem img{
    border-bottom: 100%;
    border-radius: 50%;
}

.bicho{
    display: flex;
    justify-content: space-between;
}


.bicho img{
    width:300px;
    height: 300px;
    border-radius: 100%;
}


@media (max-width: 1200px) {
    .container {
        max-width: 95%; 
    }

    .boas-vindas {
        padding: 50px; 
        font-size: 1.3em;
    }

    .Equipes {
        gap: 50px;
    }


    .Equipe {
        width: 250px; 
        height: 450px; 
    }

    .footer {
        font-size: 1.5em;
        padding: 15px 20px;
    }
}

@media (max-width: 992px) {
   
    .nav {
        padding: 15px 10px;
    }

    .menu a {
        padding: 10px 15px;
        font-size: 1em;
    }


    .container {
        font-size: 1.5em;
    }

    .boas-vindas {
        padding: 30px;
        font-size: 1.2em;
    }

    .Equipes {
        gap: 20px;
    }

    .Equipe {
        width: 45%; 
        max-width: 350px;
        height: auto; 
        padding: 10px;
    }
    
    .Equipe img {
        width: 100%;
    }

    .bicho img {
        width: 200px;
        height: 200px;
    }

    .footer {
        font-size: 1.2em;
        flex-direction: column; 
        text-align: center;
        gap: 10px;
    }
    
    .footer a {
        padding: 0 5px;
    }

    .final {
        display: none; 
    }
}


@media (max-width: 600px) {
    .nav {
        flex-direction: column; 
        align-items: center;
        padding: 15px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .menu {
        width: 100%;
    }

    .menu ul {
        flex-direction: column; 
        align-items: stretch;
    }

    .menu li {
        width: 100%;
        text-align: center;
        margin-bottom: 3px;
    }

    .menu a {
        display: block;
        padding: 8px 0;
        font-size: 1.1em;
        
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    }
    
    .menu li:last-child a {
        border-bottom: none;
    }

    .container {
        padding: 0 10px;
        font-size: 1.2em;
    }

    .boas-vindas {
        padding: 20px;
        font-size: 1em;
        margin-bottom: 15px;
    }

    .boas-vindas p {
        margin-bottom: 50px; 
    }
    
    .titulo {
        font-size: 1.8em;
        margin-bottom: 50px;
    }
    
    .homem img {
        width: 100%; 
        height: auto;
    }

    
    .Equipes {
        gap: 15px;
    }

    .Equipe {
        width: 95%; 
        height: auto;
        margin: auto;
    }


    .bicho {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    .bicho img {
        width: 80%; 
        max-width: 250px;
        height: auto;
    }


    .footer {
        font-size: 1em;
        padding: 10px 10px;
    }
}